body {
  background: black;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#help-buttons {
  cursor: pointer;
  /* font-size: 24px; */
}

#wheel-container {
  position: relative;
  left: 20%;
  width: 80%;
}

.overlapped {
  position: absolute;
  left: 0;
}

.rotate-buttons {
  display: flex;
  flex-direction: row;
  z-index: 999; /* so they can be clicked even when corner of images are above them */
}

.rotate-buttons div {
  cursor: pointer;
}

#note-wheel-buttons {
}

#note-wheel-buttons div {
  font-size: 36px;
}

#line-wheel-buttons {
}

#line-wheel-buttons div {
  font-size: 36px;
}

#quality-wheel {

}

#note-wheel {
  margin-top: -2px;
}

#line-wheel {
  margin-top: 4px;
  margin-left: 2px;
}

.rotatable {
  transition: transform 0.3s
}

.modal {
  position: absolute;
  z-index: 9999;
  left: 30%;
  top: 20%;
}

.hidden {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
