#footer-container {
  position: static;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

#footer-container button {
  width: 33vw;
  border: 1px solid dimgrey;
  border-radius: 0;
}

#github {
  /* For some reason the surrounding <a> gives a bunch of extra space on the bottom
   * that I can't figure out how to get rid of */
  margin-bottom: -4px;
  opacity: 0.8;
}

#footer-container a {
  text-decoration: none;
  color: white;
  font-size: x-large;
}

