#legend {
}

#legend table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 98vw;
  max-width: 1000px;
}

#legend td {
  padding: 1vw;
  cursor: pointer;
  background: #222;
  border: 2px solid black;
  box-sizing: border-box;
  height: 5vh;
}

#legend td:hover {
  background-color: #333;
}

/* /1* TODO Howta get this in there nice *1/ */
/* #legend tr:first-child::before,tr:last-child::before { */
/*   content: '🎧' */
/* } */

.fixed-width td {
  width: 5em;
}
