#wheel-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}

#wheel-buttons h4 {
  margin-bottom: 1vh;
}

#wheel-buttons .arrow {
  background-color: #222;
}

#wheel-buttons .arrow:hover {
  background-color: #333;
}

.rotate-buttons-indicator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid dimgrey;
  margin: 0 5px;
}

.wheel-button-group {
  text-align: center;
  max-width: 50vw;
}

.rotate-buttons {
  display: flex;
  flex-direction: column;
  z-index: 10; /* so they can be clicked even when corner of images are above them */
}

.rotate-buttons-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
